# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 39.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 11.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Koneksi ke MongoDB
client = MongoClient('mongodb+srv://muhsuryasaputro05:Muhsurya.123@cluster0.uqu8n.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Menggunakan bulk_write untuk menyisipkan, memperbarui, dan menghapus data kursus
operations = [
    # Menyisipkan beberapa kursus
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),

    # Kursus tambahan
    InsertOne({'course': 'Calculus I', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'Discrete Mathematics', 'enrollments': 25, 'department': 'Mathematics'}),
    InsertOne({'course': 'Data Structures and Algorithms', 'enrollments': 30, 'department': 'Computer Science'}),
    InsertOne({'course': 'Machine Learning', 'enrollments': 20, 'department': 'Computer Science'}),
    InsertOne({'course': 'Database Systems', 'enrollments': 22, 'department': 'Computer Science'}),
    InsertOne({'course': 'Classical Mechanics', 'enrollments': 15, 'department': 'Physics'}),
    InsertOne({'course': 'Organic Chemistry', 'enrollments': 18, 'department': 'Chemistry'}),
    InsertOne({'course': 'General Chemistry', 'enrollments': 25, 'department': 'Chemistry'}),
    InsertOne({'course': 'Introduction to Economics', 'enrollments': 30, 'department': 'Economics'}),
    InsertOne({'course': 'Macroeconomics', 'enrollments': 28, 'department': 'Economics'}),
    InsertOne({'course': 'Ethics and Society', 'enrollments': 22, 'department': 'Philosophy'}),
    InsertOne({'course': 'Shakespearean Literature', 'enrollments': 24, 'department': 'Literature'}),
    InsertOne({'course': 'Modern Art History', 'enrollments': 18, 'department': 'Art'}),
    InsertOne({'course': 'Sociology 101', 'enrollments': 20, 'department': 'Sociology'}),

    # Memperbarui jumlah pendaftaran pada kursus yang ada
    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollments': 35}}),
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 28}}),

    # Menghapus kursus yang tidak dibutuhkan lagi
    DeleteOne({'course': 'History 201'})
]

# Menjalankan operasi bulk_write
result = courses_collection.bulk_write(operations)
print('Courses inserted, updated, and deleted successfully.')

# Menampilkan data kursus setelah operasi
print("Data kursus saat ini:")
for course in courses_collection.find():
    print(course)

Courses inserted, updated, and deleted successfully.
Data kursus saat ini:
{'_id': ObjectId('672b1c2aed0fb269fe021976'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe021977'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe021979'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197a'), 'course': 'Calculus I', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197b'), 'course': 'Discrete Mathematics', 'enrollments': 25, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197c'), 'course': 'Data Structures and Algorithms', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197d'), 'course': 'Machine Learning', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197e'), 'course': 'Database Systems', 'enrollments': 22, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197f'), 'course': 'Classical Mechanics', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('672b1c2aed0fb269fe021980'), 'course': 'Organic Chemistry', 'enrollments': 18, 'department': 'Chemistry'}
{'_id': ObjectId('672b1c2aed0fb269fe021981'), 'course': 'General Chemistry', 'enrollments': 25, 'department': 'Chemistry'}
{'_id': ObjectId('672b1c2aed0fb269fe021982'), 'course': 'Introduction to Economics', 'enrollments': 30, 'department': 'Economics'}
{'_id': ObjectId('672b1c2aed0fb269fe021983'), 'course': 'Macroeconomics', 'enrollments': 28, 'department': 'Economics'}
{'_id': ObjectId('672b1c2aed0fb269fe021984'), 'course': 'Ethics and Society', 'enrollments': 22, 'department': 'Philosophy'}
{'_id': ObjectId('672b1c2aed0fb269fe021985'), 'course': 'Shakespearean Literature', 'enrollments': 24, 'department': 'Literature'}
{'_id': ObjectId('672b1c2aed0fb269fe021986'), 'course': 'Modern Art History', 'enrollments': 18, 'department': 'Art'}
{'_id': ObjectId('672b1c2aed0fb269fe021987'), 'course': 'Sociology 101', 'enrollments': 20, 'department': 'Sociology'}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b1c2aed0fb269fe021976'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe021977'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197a'), 'course': 'Calculus I', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197b'), 'course': 'Discrete Mathematics', 'enrollments': 25, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197c'), 'course': 'Data Structures and Algorithms', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197e'), 'course': 'Database Systems', 'enrollments': 22, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe021981'), 'course': 'General Chemistry', 'enrollments': 25, 'department': 'Chemistry'}
{'_id': ObjectId('672b1c2aed0fb269fe021982'), 'course': 'Introduction to Economics', 'enrollments': 30, 'department': 'Economics'}
{'_id': ObjectId('672b1c2aed0fb269fe021983'), 'course': 'Macroeconomics', 'enrollments': 28, 'department': 'Economics'}
{'_id': ObjectId('672b1c2aed0fb269fe021984'), 'course': 'Ethics and Society', 'enrollments': 22, 'department': 'Philosophy'}
{'_id': ObjectId('672b1c2aed0fb269fe021985'), 'course': 'Shakespearean Literature', 'enrollments': 24, 'department': 'Literature'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b1c2aed0fb269fe021976'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe021977'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197a'), 'course': 'Calculus I', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197b'), 'course': 'Discrete Mathematics', 'enrollments': 25, 'department': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197c'), 'course': 'Data Structures and Algorithms', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197d'), 'course': 'Machine Learning', 'enrollments': 20, 'department': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197e'), 'course': 'Database Systems', 'enrollments': 22, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Philosophy', 'average_enrollment': 22.0}
{'_id': 'Literature', 'average_enrollment': 24.0}
{'_id': 'Sociology', 'average_enrollment': 20.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Chemistry', 'average_enrollment': 21.5}
{'_id': 'Art', 'average_enrollment': 18.0}
{'_id': 'Economics', 'average_enrollment': 29.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Chemistry', 'max_enrollment': 25}
{'_id': 'Economics', 'max_enrollment': 30}
{'_id': 'Art', 'max_enrollment': 18}
{'_id': 'Literature', 'max_enrollment': 24}
{'_id': 'Philosophy', 'max_enrollment': 22}
{'_id': 'Computer Science', 'max_enrollment': 30}
{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'Sociology', 'max_enrollment': 20}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b1c2aed0fb269fe021976'), 'enrollments': 35, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe021977'), 'enrollments': 28, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe021979'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197a'), 'enrollments': 30, 'course_name': 'Calculus I', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197b'), 'enrollments': 25, 'course_name': 'Discrete Mathematics', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1c2aed0fb269fe02197c'), 'enrollments': 30, 'course_name': 'Data Structures and Algorithms', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197d'), 'enrollments': 20, 'course_name': 'Machine Learning', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197e'), 'enrollments': 22, 'course_name': 'Database Systems', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1c2aed0fb269fe02197f'), 'enrollments': 15, 'course_name': 'Classical Mechanics', 'department_name': 'Physics'}
{'_id': ObjectId('672b1c2aed0fb269fe021980'), 'enrollments': 18, 'course_name': 'Organic Chemistry', 'department_name': 'Chemistry'}
{'_id': ObjectId('672b1c2aed0fb269fe021981'), 'enrollments': 25, 'course_name': 'General Chemistry', 'department_name': 'Chemistry'}
{'_id': ObjectId('672b1c2aed0fb269fe021982'), 'enrollments': 30, 'course_name': 'Introduction to Economics', 'department_name': 'Economics'}
{'_id': ObjectId('672b1c2aed0fb269fe021983'), 'enrollments': 28, 'course_name': 'Macroeconomics', 'department_name': 'Economics'}
{'_id': ObjectId('672b1c2aed0fb269fe021984'), 'enrollments': 22, 'course_name': 'Ethics and Society', 'department_name': 'Philosophy'}
{'_id': ObjectId('672b1c2aed0fb269fe021985'), 'enrollments': 24, 'course_name': 'Shakespearean Literature', 'department_name': 'Literature'}
{'_id': ObjectId('672b1c2aed0fb269fe021986'), 'enrollments': 18, 'course_name': 'Modern Art History', 'department_name': 'Art'}
{'_id': ObjectId('672b1c2aed0fb269fe021987'), 'enrollments': 20, 'course_name': 'Sociology 101', 'department_name': 'Sociology'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b1c2aed0fb269fe021976'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021977'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021979'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1c2aed0fb269fe02197a'), 'course': 'Calculus I', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe02197b'), 'course': 'Discrete Mathematics', 'enrollments': 25, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe02197c'), 'course': 'Data Structures and Algorithms', 'enrollments': 30, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe02197d'), 'course': 'Machine Learning', 'enrollments': 20, 'department': 'Computer Science', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1c2aed0fb269fe02197e'), 'course': 'Database Systems', 'enrollments': 22, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe02197f'), 'course': 'Classical Mechanics', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1c2aed0fb269fe021980'), 'course': 'Organic Chemistry', 'enrollments': 18, 'department': 'Chemistry', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1c2aed0fb269fe021981'), 'course': 'General Chemistry', 'enrollments': 25, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021982'), 'course': 'Introduction to Economics', 'enrollments': 30, 'department': 'Economics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021983'), 'course': 'Macroeconomics', 'enrollments': 28, 'department': 'Economics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021984'), 'course': 'Ethics and Society', 'enrollments': 22, 'department': 'Philosophy', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021985'), 'course': 'Shakespearean Literature', 'enrollments': 24, 'department': 'Literature', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1c2aed0fb269fe021986'), 'course': 'Modern Art History', 'enrollments': 18, 'department': 'Art', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1c2aed0fb269fe021987'), 'course': 'Sociology 101', 'enrollments': 20, 'department': 'Sociology', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [ ]:
# Homework 1
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]

result = courses_collection.aggregate(pipeline)
print("Jumlah kursus per departemen:")
for department in result:
    print(department)

Jumlah kursus per departemen:
{'_id': 'Sociology', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 3}
{'_id': 'Computer Science', 'course_count': 4}
{'_id': 'Philosophy', 'course_count': 1}
{'_id': 'Literature', 'course_count': 1}
{'_id': 'Economics', 'course_count': 2}
{'_id': 'Chemistry', 'course_count': 2}
{'_id': 'Physics', 'course_count': 2}
{'_id': 'Art', 'course_count': 1}

In [ ]:
# Homework 1
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$department', 'courses': {'$push': '$course'}}}
]

result = courses_collection.aggregate(pipeline)
print("Kursus di departemen 'Computer Science' dengan pendaftaran lebih dari 25:")
for department in result:
    print(department)

Kursus di departemen 'Computer Science' dengan pendaftaran lebih dari 25:
{'_id': 'Computer Science', 'courses': ['CS 102', 'Data Structures and Algorithms']}

In [ ]:
# Homework 3
students_data = [
    {'name': 'John Doe', 'course': 'Math 101'},
    {'name': 'Alice Johnson', 'course': 'Math 101'},
    {'name': 'Charlie Davis', 'course': 'Math 101'},

    {'name': 'Jane Smith', 'course': 'CS 102'},
    {'name': 'Bob Brown', 'course': 'CS 102'},
    {'name': 'David Lee', 'course': 'CS 102'},

    {'name': 'Emily Clark', 'course': 'History 201'},
    {'name': 'Liam Wilson', 'course': 'History 201'},
    {'name': 'Sophia Taylor', 'course': 'History 201'},

    {'name': 'Michael White', 'course': 'Physics 202'},
    {'name': 'Olivia Harris', 'course': 'Physics 202'},

    {'name': 'Lucas Young', 'course': 'Calculus I'},
    {'name': 'Mia Martinez', 'course': 'Calculus I'},
    {'name': 'James King', 'course': 'Calculus I'},

    {'name': 'Ella Scott', 'course': 'Discrete Mathematics'},
    {'name': 'Amelia Walker', 'course': 'Discrete Mathematics'},

    {'name': 'Zoe Perez', 'course': 'Data Structures and Algorithms'},
    {'name': 'William Roberts', 'course': 'Data Structures and Algorithms'},

    {'name': 'Sophia Martinez', 'course': 'Machine Learning'},
    {'name': 'Benjamin Wilson', 'course': 'Machine Learning'},

    {'name': 'Emma Green', 'course': 'Database Systems'},
    {'name': 'Daniel Brown', 'course': 'Database Systems'},

    {'name': 'Jacob Moore', 'course': 'Classical Mechanics'},

    {'name': 'Lily Anderson', 'course': 'Organic Chemistry'},
    {'name': 'Ava Thomas', 'course': 'Organic Chemistry'},

    {'name': 'Ethan White', 'course': 'General Chemistry'},
    {'name': 'Chloe Adams', 'course': 'General Chemistry'},

    {'name': 'Harper Lee', 'course': 'Introduction to Economics'},
    {'name': 'Mason Harris', 'course': 'Introduction to Economics'},

    {'name': 'Amos Wright', 'course': 'Macroeconomics'},
    {'name': 'Isabella Clark', 'course': 'Macroeconomics'},

    {'name': 'Megan Lewis', 'course': 'Ethics and Society'},
    {'name': 'Oliver Walker', 'course': 'Ethics and Society'},

    {'name': 'Aiden Carter', 'course': 'Shakespearean Literature'},
    {'name': 'Scarlett Scott', 'course': 'Shakespearean Literature'},

    {'name': 'Jack Turner', 'course': 'Modern Art History'},
    {'name': 'Aria Harris', 'course': 'Modern Art History'},

    {'name': 'Noah Campbell', 'course': 'Sociology 101'},
    {'name': 'Victoria Davis', 'course': 'Sociology 101'}
]

# Koleksi untuk mahasiswa
students_collection = db['students']

# Menyisipkan data mahasiswa
students_collection.insert_many(students_data)
print("Data mahasiswa berhasil ditambahkan.")

Data mahasiswa berhasil ditambahkan.

In [ ]:
# Menggunakan $lookup dan $project untuk menampilkan hanya nama mahasiswa
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'course', 'as': 'students_enrolled'}},
    {'$project': {'course': 1, 'students_enrolled.name': 1, '_id': 0}}
]

# Melakukan query dengan pipeline aggregation
courses_with_students = courses_collection.aggregate(pipeline)

# Menampilkan hasil nama mahasiswa per kursus
for course in courses_with_students:
    print(f"Course: {course['course']}")
    if 'students_enrolled' in course:
        students_names = [student['name'] for student in course['students_enrolled']]
        print(f"Enrolled Students: {students_names}")
    else:
        print("No students enrolled.")
    print()

Course: Math 101
Enrolled Students: ['John Doe', 'Alice Johnson', 'Charlie Davis']

Course: CS 102
Enrolled Students: ['Jane Smith', 'Bob Brown', 'David Lee']

Course: Physics 202
Enrolled Students: ['Michael White', 'Olivia Harris']

Course: Calculus I
Enrolled Students: ['Lucas Young', 'Mia Martinez', 'James King']

Course: Discrete Mathematics
Enrolled Students: ['Ella Scott', 'Amelia Walker']

Course: Data Structures and Algorithms
Enrolled Students: ['Zoe Perez', 'William Roberts']

Course: Machine Learning
Enrolled Students: ['Sophia Martinez', 'Benjamin Wilson']

Course: Database Systems
Enrolled Students: ['Emma Green', 'Daniel Brown']

Course: Classical Mechanics
Enrolled Students: ['Jacob Moore']

Course: Organic Chemistry
Enrolled Students: ['Lily Anderson', 'Ava Thomas']

Course: General Chemistry
Enrolled Students: ['Ethan White', 'Chloe Adams']

Course: Introduction to Economics
Enrolled Students: ['Harper Lee', 'Mason Harris']

Course: Macroeconomics
Enrolled Students: ['Amos Wright', 'Isabella Clark']

Course: Ethics and Society
Enrolled Students: ['Megan Lewis', 'Oliver Walker']

Course: Shakespearean Literature
Enrolled Students: ['Aiden Carter', 'Scarlett Scott']

Course: Modern Art History
Enrolled Students: ['Jack Turner', 'Aria Harris']

Course: Sociology 101
Enrolled Students: ['Noah Campbell', 'Victoria Davis']