#Praktikum Big Data Pertemuan 10: Implementasi NoSQL Database - MongoDB

### Menghubungkan ke Database MongoDB

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.9 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://muhsuryasaputro05:Muhsurya.123@cluster0.uqu8n.mongodb.net/')
db = client['PrakBigData10Latihan']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### Operasi CRUD Dasar

In [ ]:
# Data karyawan awal
employee_data1 = {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

# Data tambahan
employee_data2 = {'name': 'Chase', 'department': 'HR', 'age': 32, 'salary': 4000}
employee_data3 = {'name': 'Rubble', 'department': 'IT', 'age': 28, 'salary': 5000}
employee_data4 = {'name': 'Diana', 'department': 'Marketing', 'age': 25, 'salary': 3500}
employee_data5 = {'name': 'Ethan', 'department': 'Finance', 'age': 30, 'salary': 4600}
employee_data6 = {'name': 'Fiona', 'department': 'IT', 'age': 27, 'salary': 5200}
employee_data7 = {'name': 'George', 'department': 'HR', 'age': 35, 'salary': 4800}
employee_data8 = {'name': 'Hannah', 'department': 'Sales', 'age': 26, 'salary': 4200}

# Menyimpan semua data karyawan dalam satu list
employees = [
    employee_data1, employee_data2, employee_data3, employee_data4,
    employee_data5, employee_data6, employee_data7, employee_data8
]
print('Data inserted')

# Mengupdate gaji Ethan menjadi 5000
collection.update_one(
    {'name': 'Ethan'},
    {'$set': {'salary': 5000}}
)
print('Data updated')

# Menghapus data Chase dari koleksi
collection.delete_one({'name': 'Chase'})
print('Data deleted')

Data inserted
Data updated
Data deleted

In [ ]:
# Menampilkan Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721e9768cbaf019b23777ac'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721e9768cbaf019b23777ae'), 'name': 'Rubble', 'department': 'IT', 'age': 28, 'salary': 5000}
{'_id': ObjectId('6721e9768cbaf019b23777af'), 'name': 'Diana', 'department': 'Marketing', 'age': 25, 'salary': 3500}
{'_id': ObjectId('6721e9768cbaf019b23777b0'), 'name': 'Ethan', 'department': 'Finance', 'age': 30, 'salary': 5000}
{'_id': ObjectId('6721e9768cbaf019b23777b1'), 'name': 'Fiona', 'department': 'IT', 'age': 27, 'salary': 5200}
{'_id': ObjectId('6721e9768cbaf019b23777b2'), 'name': 'George', 'department': 'HR', 'age': 35, 'salary': 4800}
{'_id': ObjectId('6721e9768cbaf019b23777b3'), 'name': 'Hannah', 'department': 'Sales', 'age': 26, 'salary': 4200}

### Query Lebih Kompleks Menggunakan Aggregation

 Menerapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'average_salary': 4800.0}
{'_id': 'Finance', 'average_salary': 4750.0}
{'_id': 'Sales', 'average_salary': 4200.0}
{'_id': 'IT', 'average_salary': 5100.0}
{'_id': 'Marketing', 'average_salary': 3500.0}

### Latihan Tambahan

Membuat koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://muhsuryasaputro05:Muhsurya.123@cluster0.uqu8n.mongodb.net/')
db = client['PrakBigData10LatihanTambahan']
collection = db['Products']

# Data Produk
products = [
    {'name': 'Laptop','category': 'Electronics','price': 1000,'stock': 50},
    {'name': 'Smartphone', 'category': 'Electronics','price': 700, 'stock': 100},
    {'name': 'Headphones','category': 'Electronics','price': 150,'stock': 200},
    {'name': 'Smartwatch', 'category': 'Electronics', 'price': 300, 'stock': 80},
    {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 120, 'stock': 60},
    {'name': 'Blender', 'category': 'Home Appliances', 'price': 80, 'stock': 40},
    {'name': 'Vacuum Cleaner', 'category': 'Home Appliances', 'price': 200, 'stock': 30},
    {'name': 'Air Fryer', 'category': 'Home Appliances', 'price': 150, 'stock': 70},
    {'name': 'T-Shirt', 'category': 'Clothing', 'price': 25, 'stock': 150},
    {'name': 'Jeans', 'category': 'Clothing', 'price': 50, 'stock': 100},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 150, 'stock': 200}
]

# Menyisipkan data produk ke dalam koleksi
collection.insert_many(products)
print('Data produk berhasil dimasukkan')

Data produk berhasil dimasukkan

Melakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [ ]:
# Menghitung harga rata-rata produk
average_price = collection.aggregate([
    {'$group': { '_id': None, 'averagePrice': {'$avg': '$price'}} }
])

# Mengambil hasil dari agregasi
average_price_value = list(average_price)[0]['averagePrice']
print(f'Harga rata-rata produk: {average_price_value}')

# Mencari produk dengan harga di atas rata-rata
above_average_products = collection.find({'price': {'$gt': average_price_value}})

# Menampilkan produk yang ditemukan
print('Produk dengan harga di atas rata-rata:')
for product in above_average_products:
    print(product)

Harga rata-rata produk: 265.90909090909093
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6721e9bc8cbaf019b23777b6'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'stock': 50}
{'_id': ObjectId('6721e9bc8cbaf019b23777b7'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}
{'_id': ObjectId('6721e9bc8cbaf019b23777b9'), 'name': 'Smartwatch', 'category': 'Electronics', 'price': 300, 'stock': 80}

Membuat aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
# Aggregation pipeline untuk menghitung total produk dalam setiap kategori
pipeline = [
    {'$group': { '_id': '$category',  'totalProducts': {'$sum': 1}}}
]

# Menjalankan agregasi
category_totals = collection.aggregate(pipeline)

# Menampilkan hasil
print('Total produk dalam setiap kategori:')
for category in category_totals:
    print(f'Kategori: {category["_id"]}, Total Produk: {category["totalProducts"]}')

Total produk dalam setiap kategori:
Kategori: Electronics, Total Produk: 5
Kategori: Home Appliances, Total Produk: 4
Kategori: Clothing, Total Produk: 2

###  Tugas

Mencari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://muhsuryasaputro05:Muhsurya.123@cluster0.uqu8n.mongodb.net/')
db = client['PrakBigData10Tugas']
collection = db['employees']

# Data karyawan awal
employees = [
    {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Chase', 'department': 'HR', 'age': 32, 'salary': 4000},
    {'name': 'Rubble', 'department': 'IT', 'age': 28, 'salary': 5000},
    {'name': 'Diana', 'department': 'Marketing', 'age': 25, 'salary': 3500},
    {'name': 'Ethan', 'department': 'Finance', 'age': 30, 'salary': 4600},
    {'name': 'Fiona', 'department': 'IT', 'age': 27, 'salary': 5200},
    {'name': 'George', 'department': 'HR', 'age': 35, 'salary': 4800},
    {'name': 'Hannah', 'department': 'Sales', 'age': 26, 'salary': 4200},
    {'name': 'Isabella', 'department': 'Finance', 'age': 31, 'salary': 4700},
    {'name': 'Jack', 'department': 'Finance', 'age': 28, 'salary': 4900},
    {'name': 'Kate', 'department': 'HR', 'age': 29, 'salary': 4500},
    {'name': 'Luke', 'department': 'HR', 'age': 36, 'salary': 4700},
    {'name': 'Mia', 'department': 'IT', 'age': 32, 'salary': 5300},
    {'name': 'Nina', 'department': 'IT', 'age': 26, 'salary': 5400},
    {'name': 'Oliver', 'department': 'Marketing', 'age': 24, 'salary': 3600},
    {'name': 'Paul', 'department': 'Marketing', 'age': 27, 'salary': 4000},
    {'name': 'Quinn', 'department': 'Sales', 'age': 30, 'salary': 4600},
    {'name': 'Ryan', 'department': 'Sales', 'age': 34, 'salary': 4400},
    {'name': 'Sam', 'department': 'Finance', 'age': 33, 'salary': 4800},
    {'name': 'Tina', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Uma', 'department': 'HR', 'age': 27, 'salary': 4600},
    {'name': 'Victor', 'department': 'HR', 'age': 31, 'salary': 4300},
    {'name': 'Wendy', 'department': 'IT', 'age': 29, 'salary': 5500},
    {'name': 'Xander', 'department': 'IT', 'age': 25, 'salary': 5200},
    {'name': 'Yasmin', 'department': 'Marketing', 'age': 28, 'salary': 3900},
    {'name': 'Zara', 'department': 'Marketing', 'age': 32, 'salary': 4200},
    {'name': 'Albert', 'department': 'Sales', 'age': 35, 'salary': 4700},
    {'name': 'Bella', 'department': 'Sales', 'age': 29, 'salary': 4500}
]

# Menyisipkan data karyawan ke dalam koleksi
collection.insert_many(employees)
print("Data inserted successfully.")

# Menghitung dan mencetak total dokumen dalam koleksi
print("Total documents in collection:", collection.count_documents({}))

Data inserted successfully.
Total documents in collection: 28

In [ ]:
# Mendefinisikan pipeline untuk mendapatkan 5 karyawan dengan gaji tertinggi dalam setiap departemen
pipeline_top_employees = [
    {'$group': {'_id': {'department': '$department', 'name': '$name', 'age': '$age', 'salary': '$salary'}}},
    {'$sort': {'salary': -1}},
    {'$group': {'_id': '$_id.department', 'employees': {'$push': {'name': '$_id.name', 'age': '$_id.age','salary': '$_id.salary'}}}},
    {'$project': {'department': '$_id','top_employees': {'$slice': ['$employees', 5]}}}
]

# Menjalankan pipeline agregasi di koleksi
result_top_employees = collection.aggregate(pipeline_top_employees)

# Mencetak hasil
print("5 Karyawan dengan Gaji Tertinggi dalam Setiap Departemen:")
for doc in result_top_employees:
    print(f"\nDepartemen: {doc['department']}")

    # Mengurutkan karyawan berdasarkan gaji secara menurun
    top_employees_sorted = sorted(doc['top_employees'], key=lambda x: x['salary'], reverse=True)
    for emp in top_employees_sorted:
        print(f"  Nama: {emp['name']}, Gaji: {emp['salary']}")

5 Karyawan dengan Gaji Tertinggi dalam Setiap Departemen:

Departemen: Marketing
  Nama: Zara, Gaji: 4200
  Nama: Paul, Gaji: 4000
  Nama: Yasmin, Gaji: 3900
  Nama: Oliver, Gaji: 3600
  Nama: Diana, Gaji: 3500

Departemen: IT
  Nama: Nina, Gaji: 5400
  Nama: Mia, Gaji: 5300
  Nama: Xander, Gaji: 5200
  Nama: Fiona, Gaji: 5200
  Nama: Rubble, Gaji: 5000

Departemen: HR
  Nama: Luke, Gaji: 4700
  Nama: Uma, Gaji: 4600
  Nama: Kate, Gaji: 4500
  Nama: Victor, Gaji: 4300
  Nama: Chase, Gaji: 4000

Departemen: Finance
  Nama: Jack, Gaji: 4900
  Nama: Isabella, Gaji: 4700
  Nama: Ethan, Gaji: 4600
  Nama: Tina, Gaji: 4500
  Nama: Alice, Gaji: 4500

Departemen: Sales
  Nama: Albert, Gaji: 4700
  Nama: Quinn, Gaji: 4600
  Nama: Bella, Gaji: 4500
  Nama: Ryan, Gaji: 4400
  Nama: Hannah, Gaji: 4200

Membuat skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [ ]:
# Mengambil daftar karyawan yang berusia di bawah 25 tahun
employees_to_delete = list(collection.find({"age": {"$lt": 25}}))

# Mencetak informasi karyawan yang akan dihapus
print("Karyawan yang akan dihapus (berusia di bawah 25 tahun):")
for emp in employees_to_delete:
    print(f"- Nama: {emp['name']}, Usia: {emp['age']}, Departemen: {emp['department']}, Gaji: {emp['salary']}")

# Menghapus karyawan yang berusia di bawah 25 tahun dari koleksi
result = collection.delete_many({"age": {"$lt": 25}})

# Mencetak jumlah karyawan yang telah dihapus
print(f"\nJumlah karyawan yang dihapus: {result.deleted_count}")

Karyawan yang akan dihapus (berusia di bawah 25 tahun):
- Nama: Oliver, Usia: 24, Departemen: Marketing, Gaji: 3600

Jumlah karyawan yang dihapus: 1

Membuat laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# Mendefinisikan pipeline untuk menghitung total gaji dan rata-rata umur per departemen
pipeline_salary_age = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}, 'average_age': {'$avg': '$age'}}}
]

# Mendefinisikan pipeline untuk menghitung total gaji dan rata-rata umur per departemen
result_salary_age = collection.aggregate(pipeline_salary_age)

# Mencetak laporan ringkas berdasarkan hasil agregasi
print("Laporan Ringkas:")
for doc in result_salary_age:
    print(f"Departemen: {doc['_id']}, Total Gaji: {doc['total_salary']}, Rata-rata Umur: {doc['average_age']:.2f}")

Laporan Ringkas:
Departemen: Finance, Total Gaji: 28000, Rata-rata Umur: 30.00
Departemen: Marketing, Total Gaji: 15600, Rata-rata Umur: 28.00
Departemen: Sales, Total Gaji: 22400, Rata-rata Umur: 30.80
Departemen: IT, Total Gaji: 31600, Rata-rata Umur: 27.83
Departemen: HR, Total Gaji: 26900, Rata-rata Umur: 31.67